.LottoCardListItem {
  float: left;

  .LottoCard {
    width: 434px;
    height: 650px;
    margin: 20px;

    &__numsList {
      float: left;
    }
  }

  &__AddButton {
    background-color: white;
    color: #ccc;
    font-size: 3rem;
    font-weight: bold;
    border-radius: 20px;
    border: 10px dotted #ccc;
    cursor: pointer;
    width: 434px;
    height: 650px;
    margin: 20px;

    &::before {
      background-color: #ccc;
      border-radius: 15px;
      color: white;
      white-space: pre;
      text-align: center;
      content: "\002B\A";
      display: block;
      width: 5rem;
      height: 5rem;
      margin: 0 auto;
    }
  }
}
